@model IEnumerable<prjShoppingForum.Models.Entity.tProduct>

<div class="row">
    <!-- Single Product -->


    @foreach (var item in Model)
    {
        var imageScr = $"../../images/Product/{item.fProductID}.jpg";
        <div class="col-12 col-sm-6 col-lg-4">

            <div class="single-product-wrapper">
                <!-- Product Image -->
                <div class="product-img">
                    <a href="~/ProductBrowseHistory/Creat?productId=@item.fProductID">
                        <img src="@imageScr" style="width:80%" />
                    </a>
                    <!-- Hover Thumb -->
                    <a href="~/ProductBrowseHistory/Creat?productId=@item.fProductID">
                        <img class="hover-img" src="../../images/Product/0-1.jpg" alt="" style="width:80%">
                    </a>

                    <!-- Favourite -->
                    @*<div class="product-favourite">
                            <a href="#" class="favme fa fa-heart"></a>
                        </div>*@
                </div>

                <!-- Product Description -->
                <div class="product-description">

                    <a href="../../ProductFront/ProductSinglePage?productId=@item.fProductID">
                        <h6>@item.fProductChName</h6>
                    </a>

                    <p class="product-price">NT$ @item.fUnitPrice</p>
                    <div class="add-to-cart-btn">
                        <a href="#" class="btn btn-outline-info">加入購物車</a>
                    </div>

                </div>
            </div>
        </div>
    }
</div>




