#忽略所有packages
/slnShoppingForum/packages/*

#忽略所有images
/slnShoppingForum/prjShoppingForum/Images/*

#忽略所有admin-lte
/slnShoppingForum/prjShoppingForum/admin-lte

#忽略.vs的內容
/slnShoppingForum/.vs

#忽略bin的內容
/slnShoppingForum/prjShoppingForum/bin

#忽略debug的內容
/slnShoppingForum/prjShoppingForum/obj

#忽略content的內容
/slnShoppingForum/prjShoppingForum/Content

#忽略Scripts底下不必要的檔案
/slnShoppingForum/prjShoppingForum/Scripts/*.*
/slnShoppingForum/prjShoppingForum/Scripts/esm
/slnShoppingForum/prjShoppingForum/Scripts/src
/slnShoppingForum/prjShoppingForum/Scripts/umd
/slnShoppingForum/prjShoppingForum/Scripts/ckeditor

