<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    @*<link rel="stylesheet" type="text/css" href="~/Styles/main.css" />*@
    <link href="~/Styles/quill.snow.css" rel="stylesheet">
    <!-- Favicon  -->
    <link rel="icon" href="~/Content/template/img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="~/Content/template/css/core-style.css">
    <link rel="stylesheet" href="~/Content/style.css">

    @RenderSection("Styles", false)


</head>
<body>
    <div class="ForumSharedLayout">
        <header class="header_area">
            <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
                <!-- Classy Menu -->
                <nav class="classy-navbar" id="essenceNav">
                    <!-- Logo -->
                    <a class="nav-brand" href="index.html"><img src="img/core-img/logo.png" alt=""></a>
                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>
                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>
                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li>
                                    <a href="~/Home/Index"><img src="~/Images/logo.png" style="height:85px; width:auto;" /></a>
                                </li>
                                <li>
                                    <a href="~/Forum/List">文章首頁</a>
                                </li>
                                <li>
                                    <a href="~/Forum/SelfList">收藏 / 隱藏列表</a>
                                </li>
                                <li>
                                    <a href="#">會員中心</a>
                                </li>
                                <li>
                                    <button type="button" class="btn" data-toggle="modal" data-target="#exampleModalScrollable">
                                        發表文章
                                    </button>
                                </li>

                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>

                <!-- Header Meta Data -->
                <div class="header-meta d-flex clearfix justify-content-end">
                    <!-- Search Area -->
                    <div class="search-area">
                        <div class="formfake">
                            <input type="search" name="search" id="searchPost" placeholder="文章標題">
                            <button type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>

                    </div>
                    <!-- User Login Info -->
                    <div class="user-login-info">
                        <a href="#"><img src="~/Content/template/img/core-img/user.svg" alt=""></a>
                    </div>
                </div>

            </div>
        </header>
        
        <div class="forum-mid">
            @RenderBody()
        </div>
        
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/template/js/popper.min.js"></script>
    <script src="~/Content/template/js/plugins.js"></script>
    <script src="~/Content/template/js/classy-nav.min.js"></script>
    <script src="~/Content/template/js/active.js"></script>

    @*For quill using*@
    <script src="~/Scripts/quill.js"></script>

    <script>
        $('#searchPost').keydown(function (event) {
            if (event.keyCode == 13) {
                window.open("SearchPost?searchText=" + $('#searchPost').val());
            }
        })
    </script>
    @RenderSection("Scripts", false)

</body>
</html>
