<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Styles/main.css" />
    <link rel="stylesheet" media="screen and  (max-width: 600px)" href="~/Styles/main_RWD600.css" />
</head>
<body>
    <div class="wrapper">
        <header>
            <h2><a href="HomePage.html"><img class="icon" alt="Tree of Birth" src="~/Images/logo.png" />Tree of Birth</a></h2>

            <div class="navbar">
                <a href="http://www.google.com">最新消息</a>
                <a href="http://www.google.com">會員中心</a>
                <a href="http://www.google.com">商品介紹</a>
                <a href="http://www.google.com">配方遊戲</a>
                <a href="http://www.google.com">討論區</a>
            </div>
        </header>

        <!--中間區塊-->
        <div id="content" style="min-height:800px; margin-top:150px">
            @RenderBody()
        </div>
    </div>
    <div class="push"></div>
    <!--footer-->
    <footer class="footer">
            <div style="text-align: center">
            <h5 style=" max-width: 250px;margin: 0 auto 15px;border-bottom: 3px solid #28b7e2;">
            <p style="    display: block;    font-size: 1.2em;    text-align: center;    width: 150px;  margin: 0 auto -17px;   color: #28b7e2;">芳療家Florihana</p>
            </h5>
            <p>芳療家Florihana網路出貨中心週六、週日及國定假日公休 故週五下午四點後至週末間於網路下單之訂單最快於週一出貨，敬請見諒。</p>
            <ul>
                <li><i aria-hidden="true"></i> 聯絡信箱：aromahealer@gmail.com</li>
                <li>
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    <a href="https://www.facebook.com/florihana.com.tw/" target="_blank" style="color: #3b5998;">芳療家Facebook粉絲頁</a> 獲取最新消息通知
                </li>
                <li style="margin-top: 20px">『 芳療家®』為芳療家生活有限公司註冊所有之產品及服務專用商標，請勿於本公司註冊商標範圍內使用，違者將追究法律責任。』</li>
            </ul>
        </div>
    </footer>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>