@model IEnumerable<prjShoppingForum.Models.Entity.tQuestion>

@{
    ViewBag.Title = "QuizList";
}

<h2>QuizList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fQuestionName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fQuestionName)
        </td>
        <td>
            @Html.ActionLink("作答", "Content", new { id=item.fQuestionId }) |
        </td>
    </tr>
}

</table>
