@using tw.com.essentialoil.User.Models;

@if (Session[UserDictionary.S_CURRENT_LOGINED_USERFID] != null)
{
    <div class="user-login-info">
        <a href="@Url.Action("MemberCenter", "FrontUserProfile")"><img src="~/Content/template/img/core-img/logined.png" alt=""></a>
    </div>
    <div class="user-login-info">
        <a href="@Url.Action("LogOut", "FrontUserProfile")" id="logout"><img src="~/Images/Member/logout.jpg" height="80" width="80" style="margin:5px;" alt=""></a>
    </div>
}
else
{
    <div class="user-login-info">
        <a href="@Url.Action("Login", "FrontUserProfile")"><img src="~/Content/template/img/core-img/user.svg" alt=""></a>
    </div>
    <div class="user-login-info">
        <a href="@Url.Action("New", "FrontUserProfile")" id="login"><img src="~/Content/template/img/core-img/add.png" height="80" width="80" style="margin:5px;" alt=""></a>
    </div>
}
