
@{
    ViewBag.Title = "ForgetPassword";
}

<h2>忘記密碼</h2>
<form action="/FrontUserProfile/ForgetPassword" name="ForgotPwdForm" method="post" class="form-check-inline" @*onsubmit="return checkForgot()"*@>
    <p>請輸入信箱：</p>
    <input type="email" name="UserId" placeholder="請輸入Email" required/><br /><br />
    <input type="submit" value="確定" class="btn btn-warning"  />

</form>

@section Scripts{
<script>

    function checkForgot() {
        if (document.LoginForm.fUserId.value == '') {
            alert("請輸入Email");
            document.ForgotPwdForm.fUserId.focus();
            return false;
            //break;
        }
       
        return true;
    }

    //function forgetpwd() {

    //    alert("新密碼已寄送至您填寫的信箱，請用新密碼重新登入");
    //}

</script>
}


