
@{
    ViewBag.Title = "ForgetPassword";
}

<h2>忘記密碼</h2>
<form id="myform" action="/FrontUserProfile/ForgetPassword" name="ForgotPwdForm" method="post" class="form-check-inline">
    <p>請輸入信箱：</p>
    <input type="email" name="UserId" placeholder="請輸入Email" required/><br /><br />
    <input type="submit" value="確定" class="btn btn-warning"  />

</form>

@section Scripts{
<script>
    let flag;
    $('#myform').submit(function () {
        alert("新密碼已寄送至您填寫的信箱，請用新密碼重新登入");
    })
</script>
}


