
@{
    ViewBag.Title = "ForgetPassword";
}

<h2>ForgetPassword</h2>
<form action="/FrontUserProfile/ForgetPassword" method="post" class="form-check-inline">
    <p>請輸入信箱：</p>
    <input type="text" name="UserName" placeholder="請輸入Email" /><br /><br />
    <input type="submit" value="確定" class="btn btn-warning" />

</form>
