@using tw.com.essentialoil.User.Models;

@{
    ViewBag.Title = "Login";
    string pic = " ";

}

<h2>Login</h2>
<hr />

<div class="w3-container" style="position:center;width:auto" >
    <div class="w3-card-4" style="width:30%">
        <img src="~/Images/Member/loginpicture.jpg" alt="loginpicture" style="width:100% ">
        <form @*action="/FrontUserProfile/Login" method="post"*@ name="LoginForm" class="w3-container w3-center">
            @*<fieldset style="width: 500px; border: 1px solid lightseagreen; margin: 15px; border-radius: 15px">
                <div style="width: 450px; border-bottom: 2px solid #F0F0F0; margin:25px; padding-left:85px; padding-bottom:10px;">*@

            <p style="font-size:x-large">帳號：</p>
            <input type="text" name="fUserId" placeholder="請輸入Email" id="inputUserId" /><div id="div1"></div><br />
            <p style="font-size:x-large">密碼：</p>
            <input type="password" name="fPassword" id="inputPassword" placeholder="請輸入密碼" />
            <br /><br />
            <p style="font-size:x-large">輸入驗證碼：</p>
            <input type="text" name="fVeriCode" />
            @*@using (Html.BeginForm())*@
            <p>

                @if (Session[UserDictionary.S_AUTHENTICATED_CODE] != null)
                {
                    pic = Session[UserDictionary.S_AUTHENTICATED_CODE].ToString().Substring(0, 1) + ".png";
                    @:<img src="/Images/Member/@pic" width="30" />
                    pic = Session[UserDictionary.S_AUTHENTICATED_CODE].ToString().Substring(1, 1) + ".png";
                    @:<img src="/Images/Member/@pic" width="30" />
                    pic = Session[UserDictionary.S_AUTHENTICATED_CODE].ToString().Substring(2, 1) + ".png";
                    @:<img src="/Images/Member/@pic" width="30" />
                    pic = Session[UserDictionary.S_AUTHENTICATED_CODE].ToString().Substring(3, 1) + ".png";
                    @:<img src="/Images/Member/@pic" width="30" />
                }
            </p>
            @if (Session[UserDictionary.S_CURRENT_LOGINED_USER] != null)
            {
                <p style="color:lightcoral">@Session[UserDictionary.S_CURRENT_LOGINED_USER].ToString()</p>
                <p style="color:lightcoral">@Session["UserInfo"]</p>
            }


        <div style=" margin:20px; text-align:center;">
            <input type="submit" value="登入" id="buttonLogin" class="btn btn-warning" />
            <input type="button" value="取消" id="buttonCancelLogin" class="btn btn-warning" />
            <label style="color:blue"><a href="@Url.Action("ForgetPassword", "FrontUserProfile")">忘記密碼</a></label>
        </div>
            @*</fieldset>*@
        </form>
    </div>
</div>
    <br />

    <link rel="stylesheet" href="~/Content/w3cards.css">

    @section scripts{
        <script>
            //apply ajax:此為現階段測試用，之後會刪除
            var buttonLogin = document.querySelector('#buttonLogin');
            var UserIdInput = document.querySelector('#inputUserId');
            var buttonCancelLogin = document.querySelector('#buttonCancelLogin');
            var myDiv = document.querySelector('#div1');

            var xhr = null;
            UserIdInput.addEventListener("blur", function () {
                xhr = new XMLHttpRequest();
                var formData = new FormData(document.LoginForm);
                xhr.open('POST', '/FrontUserProfile/LoginAjax');
                xhr.send(formData);

                xhr.addEventListener('load', function () {
                    var data = xhr.responseText;
                    myDiv.innerHTML = `<h4 style="font-family: 微軟正黑體">` + data + "</h4>";
                })
            });
                    //buttonLogin.addEventListener("click", function () {
                    //    FormData(document.LoginForm).submit();
                    //});
        </script>

    }


