@model prjShoppingForum.Models.Entity.tUserProfile


<div class="container" style="text-align:left;font-size:18px;">
    <h3><img src="~/Images/Member/membercenter/fleur-de-lis.png" width="30" height="30" /> 積分</h3>
    <hr style="border-bottom:3px solid #CDA0A9;" />
    <div class="row" style="padding-top:15px">
        <div class="col-md-2 col-lg-1">
            姓名:
        </div>
        <div class="col-md-10 col-lg-11">
            @Model.fName
        </div>
    </div>
    <div class="row" style="padding-top:15px">
        <div class="col-md-2 col-lg-1">
            積分:
        </div>
        <div class="col-md-10 col-lg-11" style="color:red;font-size:20px">
            @Model.fScore
        </div>
    </div>
</div>


