@model prjShoppingForum.Models.Entity.tScore

<h1>我的積分</h1>
@*TODO:會再修改*@

<table class="table table-bordered">
    <thead>
        <tr>
            <th>姓名</th>
            <th>積分</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.fId</td>
            <td>@Model.fScore</td>
           
        </tr>
    </tbody>
</table>

