@model IEnumerable<prjShoppingForum.Models.Entity.tUserDiscountList>

<div class="container" style="text-align:left;font-size:18px;">
    <h3>會員基本資料</h3>
    <hr style="border-bottom:3px solid #CDA0A9;" />
    <table class="table">
        <thead>
            <tr>
                <th>優惠券名稱</th>
                <th>優惠券使用起日</th>
                <th>優惠券使用迄日</th>
                <th>優惠券數量</th>
                <th>状態</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.tDiscount.fDiscountName</td>
                        <td>@item.tDiscount.fStartdate</td>
                        <td>@item.tDiscount.fEndDate</td>
                        <td>@item.fCount</td>

                        @if (item.fCount == 0 || item.tDiscount.fEndDate < DateTime.UtcNow.AddHours(8))
                        {
                            <td>已失效</td>
                        }
                        else if (item.tDiscount.fStartdate > DateTime.UtcNow.AddHours(8))
                        {
                            <td>優惠活動尚未開始</td>
                        }
                        else
                        {
                            <td>可使用</td>
                        }

                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

@section Scripts{
  
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/zh-tw.js"></script>
}
