@* vvv *@
@{
    ViewBag.Title = "Dashboard";
}

<h2>儀錶板</h2>

<iframe width="960px" height="596px" src="https://app.powerbi.com/reportEmbed?reportId=dd5ee668-54a4-4b26-8d79-0b05800850fe&autoAuth=true&ctid=fbf0cb04-6e6a-4334-9e1d-38fd37234fdb&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWVhc3QtYXNpYS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>