@model IQueryable<prjShoppingForum.Models.Entity.tForum>

@{
    ViewBag.Title = "List";
}

<h1>List</h1>

<div style="margin:20px auto">
    <div>
        <button>下拉選view</button>
        <button>下拉選排序</button>
        @*<button class="button Post">發表文章</button>*@
        <button class="button Post">@Html.ActionLink("發表文章", "Create", "Forum", null)</button>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            標題:
        </th>
        <th>
            動作:
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.fPostTitle, "PostView", new { fPostId = item.fPostId })
                <br />
                <button class="btn btn-primary">喜歡</button>
                <button class="btn btn-primary">討厭</button>
                <button class="btn btn-primary">分享</button>
                <button class="btn btn-primary">留言</button>
                <button class="btn btn-primary">收藏</button>
                <button class="btn btn-primary">隱藏</button>
            </td>

            <td>
                @Html.ActionLink("修改文章", "Edit", new { fPostId = item.fPostId })
                @Html.ActionLink("文章停權(刪除)", "Delete", new { fPostId = item.fPostId })
            </td>
        </tr>
    }

</table>

