@model List<prjShoppingForum.Models.Entity.tForum>
@{
    ViewBag.Title = "SearchPost";
}

@section Styles{
    <style>
        .postTitle {
            font-size: 20px;
        }

        .postTitle:hover {
            font-size: 20px;
        }

        .btnimage {
            width: 15px;
            height: auto;
            border: none;
        }

        .btn {
            border: none;
        }

        tbody tr:nth-child(2n+1) {
            background-color: #d39ca7
        }
    </style>
}

<h4 style="margin-top:150px">搜尋結果</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>文章序號</th>
            <th>文章標題</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.fPostId
                </td>
                <td>
                    @Html.ActionLink(item.fPostTitle, "PostView", new { fPostId = item.fPostId }, new { @class = "postTitle" })
                </td>
            </tr>
        }
    </tbody>
</table>