@model List<prjShoppingForum.Models.Entity.tForum>

@section Styles{
    <style>
        .postTitle {
            font-size: 20px;
        }

        .postTitle:hover {
            font-size: 20px;
        }
    </style>
}


<h4 style="margin-top:150px">[置頂專區]</h4>

<table class="table table-striped table-toplist">
    <thead>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td data-postid="@item.fPostId">
                    @Html.ActionLink(item.fPostTitle, "PostView", new { fPostId = item.fPostId }, new { @class = "postTitle" })
                </td>
            </tr>
        }
    </tbody>
</table>


<hr style="border-top:2px solid #766248" />