
@{
    ViewBag.Title = "OrderCreate";
}

<h2>OrderCreate</h2>
<form action="~/tOrders/OrderCreate" method="post" class="form-text" name="OrderForm">
    <p>收貨者姓名<input type="text" name="ConsigneeName" id="name"/></p>
    <p>收貨者手機號碼<input type="text" name="ConsigneeCellPhone" id="phone"/></p>
    <p>收貨者地址<input type="text" name="ConsigneeAddress" id="address"/></p>
    <p>發票公司抬頭<input type="text" name="OrderCompanyTitle" /></p>
    <p>統一編號<input type="text" name="OrderTaxIdDNumber" /></p>
    <p>訂單備註<input type="text" name="OrderPostScript" /></p>
    <p>支付方式<input type="text" name="Payment" /></p>
    <input type="checkbox" name="OrderCheck" id="check" /><p>確認您所輸入的資料正確，以利出貨正常配送。</p>
    <input type="button" disabled value="產生訂單" id="CreateOrder" name="CreateOrder" />
</form>

@section Scripts{
    <script>
        //$('#name').addEventListener('blur', function () {
        //    console.log($('#name').val());
        //});

        //if ($('#name').val().Length != 0 && $('#phone').val().Length != 0 && $('#address').val().Length != 0) {
        //    check.disabled = false;
        //};
        
        var check = document.querySelector('#check');

        var btnCreateOrder = document.querySelector('#CreateOrder');
        var xhr = null;

        check.addEventListener('click', function () {
            if (check.checked)
                btnCreateOrder.disabled = false;
            else
                btnCreateOrder.disabled = true;
        });

        btnCreateOrder.addEventListener("click", function () {
            document.OrderForm.submit();
        });
    </script>
}